@inject Microsoft.Extensions.Configuration.IConfiguration Config
@using System.Text.RegularExpressions

@{
    // 1) Host (za proxy preferuj X-Forwarded-Host)
    var hostHeader = Context?.Request?.Headers["X-Forwarded-Host"].FirstOrDefault()
                  ?? Context?.Request?.Host.Value
                  ?? string.Empty;

    // 2) Očista: port + www
    var clean = hostHeader.ToLowerInvariant();
    clean = Regex.Replace(clean, @":\d+$", "");
    clean = Regex.Replace(clean, @"^www\.", "");

    // 3) Subdoména = první label
    var sub = clean.Split('.', StringSplitOptions.RemoveEmptyEntries).FirstOrDefault() ?? "";

    // 4) Načti mapu a default z configu
    var defaultTitle = Config["TitleSettings:DefaultTitle"] ?? "Aplikace";
    var titles = Config.GetSection("TitleSettings:SubdomainTitles")
                       .GetChildren()
                       .ToDictionary(s => s.Key, s => s.Value);

    var baseTitle = titles.TryGetValue(sub, out var t) ? t : defaultTitle;

    // 5) Volitelný page-specific titulek z ViewData["Title"]
    var pageTitle = ViewData["Title"] as string;
    var fullTitle = string.IsNullOrWhiteSpace(pageTitle) ? baseTitle : $"{pageTitle} – {baseTitle}";
}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow">
    <title>@fullTitle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container contacts row-header-wrap">
            <div class="row align-items-center row-header">
                <div class="col">
                    <a class="navbar-brand" asp-area="mtz" asp-action="index"><img src="/images/koupelnyjas-logo-v1.png" /></a>
                </div>
                <div class="col-md-auto col-6 header-contact">
                    <div class="row">
                        <div class="col text-nowrap">
                            <svg with="26" height="26" viewBox="0 0 26 26">
                                <path d="M19.8109 15.5425C19.2973 15.0077 18.6777 14.7217 18.0211 14.7217C17.3697 14.7217 16.7449 15.0024 16.21 15.5372L14.5367 17.2053C14.399 17.1312 14.2613 17.0623 14.1289 16.9935C13.9383 16.8982 13.7582 16.8081 13.6047 16.7128C12.0372 15.7173 10.6127 14.4199 9.24649 12.7412C8.58456 11.9045 8.13974 11.2002 7.81672 10.4854C8.25094 10.0882 8.6534 9.67515 9.04527 9.27799C9.19354 9.12972 9.34181 8.97615 9.49008 8.82788C10.6021 7.71583 10.6021 6.27546 9.49008 5.16342L8.04442 3.71775C7.88026 3.55359 7.71081 3.38414 7.55194 3.21468C7.23421 2.88637 6.9006 2.54746 6.5564 2.22973C6.04274 1.72136 5.42846 1.45129 4.78241 1.45129C4.13637 1.45129 3.5115 1.72136 2.98196 2.22973C2.97666 2.23502 2.97666 2.23502 2.97136 2.24032L1.17091 4.05666C0.493087 4.73448 0.106518 5.56058 0.0217901 6.51906C-0.105301 8.06533 0.350109 9.5057 0.69961 10.4483C1.55748 12.7624 2.83898 14.9071 4.75064 17.2053C7.07006 19.9748 9.86077 22.1619 13.0486 23.7028C14.2666 24.28 15.8923 24.9632 17.7086 25.0797C17.8199 25.085 17.9364 25.0903 18.0423 25.0903C19.2655 25.0903 20.2928 24.6507 21.0977 23.777C21.103 23.7664 21.1136 23.7611 21.1189 23.7505C21.3943 23.4169 21.712 23.115 22.0456 22.792C22.2733 22.5749 22.5063 22.3472 22.734 22.1089C23.2583 21.5635 23.5337 20.928 23.5337 20.2767C23.5337 19.62 23.253 18.9899 22.7182 18.4603L19.8109 15.5425ZM21.7067 21.1187C21.7014 21.1187 21.7014 21.124 21.7067 21.1187C21.5002 21.3411 21.2884 21.5423 21.0607 21.7647C20.7165 22.093 20.367 22.4372 20.0387 22.8238C19.5038 23.3957 18.8736 23.6658 18.0476 23.6658C17.9681 23.6658 17.8834 23.6658 17.804 23.6605C16.2312 23.5599 14.7697 22.9456 13.6735 22.4213C10.6763 20.9704 8.04442 18.9104 5.85739 16.2998C4.05164 14.1233 2.84427 12.1111 2.04466 9.95052C1.55218 8.63195 1.37213 7.60463 1.45157 6.63556C1.50452 6.01599 1.74282 5.50233 2.18234 5.0628L3.98809 3.25705C4.24757 3.01346 4.52294 2.88107 4.79301 2.88107C5.12662 2.88107 5.39669 3.0823 5.56614 3.25175C5.57144 3.25705 5.57673 3.26234 5.58203 3.26764C5.90505 3.56948 6.21219 3.88191 6.53521 4.21553C6.69937 4.38498 6.86883 4.55444 7.03828 4.72919L8.48394 6.17485C9.04526 6.73617 9.04526 7.25513 8.48394 7.81644C8.33038 7.97001 8.1821 8.12358 8.02853 8.27185C7.58372 8.72726 7.16008 9.1509 6.69937 9.56395C6.68878 9.57454 6.67819 9.57983 6.6729 9.59043C6.21749 10.0458 6.30221 10.4907 6.39753 10.7925C6.40283 10.8084 6.40812 10.8243 6.41342 10.8402C6.7894 11.751 7.31894 12.6088 8.12385 13.6309L8.12915 13.6362C9.5907 15.4366 11.1317 16.8399 12.8315 17.9149C13.0486 18.0526 13.271 18.1638 13.4829 18.2697C13.6735 18.365 13.8535 18.455 14.0071 18.5504C14.0283 18.5609 14.0495 18.5768 14.0707 18.5874C14.2507 18.6774 14.4202 18.7198 14.5949 18.7198C15.0344 18.7198 15.3098 18.4444 15.3998 18.3544L17.2109 16.5434C17.3909 16.3633 17.6769 16.1462 18.0105 16.1462C18.3388 16.1462 18.6089 16.3527 18.773 16.5328C18.7783 16.5381 18.7783 16.5381 18.7836 16.5434L21.7014 19.4612C22.2469 20.0013 22.2469 20.5573 21.7067 21.1187Z"></path>
                                <path d="M13.5408 5.96834C14.9282 6.20134 16.1885 6.85797 17.1947 7.86411C18.2008 8.87025 18.8522 10.1306 19.0905 11.518C19.1487 11.8675 19.4505 12.1111 19.7948 12.1111C19.8371 12.1111 19.8742 12.1058 19.9165 12.1005C20.3084 12.0369 20.5679 11.6663 20.5043 11.2744C20.2184 9.59573 19.4241 8.06534 18.2114 6.85268C16.9987 5.64002 15.4684 4.8457 13.7897 4.55974C13.3978 4.4962 13.0324 4.75567 12.9636 5.14224C12.8948 5.52881 13.1489 5.90479 13.5408 5.96834Z"></path>
                                <path d="M25.0425 11.0678C24.5712 8.3036 23.2685 5.78825 21.2668 3.78657C19.2651 1.78488 16.7498 0.482195 13.9855 0.0108989C13.599 -0.0579422 13.2336 0.206831 13.1647 0.5934C13.1012 0.985265 13.3607 1.35065 13.7525 1.41949C16.2202 1.83783 18.4708 3.00813 20.2607 4.7927C22.0505 6.58257 23.2155 8.83315 23.6339 11.3008C23.6921 11.6503 23.994 11.8939 24.3382 11.8939C24.3805 11.8939 24.4176 11.8886 24.46 11.8833C24.8465 11.8251 25.1113 11.4544 25.0425 11.0678Z"></path>
                            </svg>
                            <span>841 02 02 02</span>
                        </div>
                        <div class="col text-nowrap pl-md-3">
                            <svg with="25" height="18" viewBox="0 0 25 18">
                                <path d="M22.8867 0.210938H3.10547C1.94002 0.210938 0.996094 1.20029 0.996094 2.4082V15.5918C0.996094 16.8069 1.94695 17.7891 3.10547 17.7891H22.8867C24.0424 17.7891 24.9961 16.811 24.9961 15.5918V2.4082C24.9961 1.20244 24.0559 0.210938 22.8867 0.210938ZM22.5913 1.67578C22.1603 2.12231 14.7437 9.80728 14.4877 10.0726C14.0892 10.4876 13.5595 10.7162 12.9961 10.7162C12.4327 10.7162 11.903 10.4876 11.5032 10.0712C11.331 9.89277 3.99623 2.29268 3.40087 1.67578H22.5913ZM2.40234 15.2937V2.70728L8.47913 9.00391L2.40234 15.2937ZM3.40177 16.3242L9.47616 10.037L10.5102 11.1084C11.1742 11.8001 12.057 12.181 12.9961 12.181C13.9351 12.181 14.818 11.8001 15.4807 11.1098L16.516 10.037L22.5904 16.3242H3.40177ZM23.5898 15.2937L17.5131 9.00391L23.5898 2.70728V15.2937Z"></path>
                            </svg>
                            <span>info@koupelny-jas.cz</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrap">
        <main role="main">
            <partial name="_MessagePartial" />
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-input-spinner.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
