<p>Byla provedena aktualizace dat na stránce s analýzou prodeje (<a href="{link Delivery:SalesOverview:default}">zde</a>)</p>
<br>
<p>Koupelny JaS</p>
<br>
<p>Email byl vygenerován automaticky, prosím neodpovídejte na něj.</p>