{varType App\Modules\StockModule\Orm\Producers\Producer $row}

{define col-color}
    <td class="grid-col-color" style="text-align: left;  white-space: nowrap; width: 180px;">
        <span style="width: 50px; background-color: {$row->color |noescape}; display: inline-block;">&nbsp;</span>
        {$row->color}
    </td>
{/define}
