@page
@model Jas.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
}
<p>Byl obdržen požadavek na změnu hesla uživatele @Model.ForgotPasswordEmail.Name k interní aplikaci společnosti Koupelny JaS.</p>
<p>Odkaz pro změnu hesla je uveden níže. Pokud o změnu hesla nebylo z vaší strany žádáno, ignorujte prosím tento email.</p>
<p><a href="@Model.ForgotPasswordEmail.CallbackUrl">Odkaz na změnu hesla</a></p>
<p>Platnost odkazu jsou 2 hodiny, poté bude potřeba poslat novou žádost o změnu hesla.</p>
<br>
<p>Koupelny JaS</p>
