{block content}
<div class="jas-link-wrapper">
    <a title="Zpět na stojany" n:href=":Stock:Stand:default">
        <img width="20" height="20" src="/image/zpet.png">
        <strong> zpět na stojany</strong>
    </a>
</div>
{control standRelocations}