{block content}

<div id="login-form">
    <h1>Zapomenuté heslo</h1>
    {form forgottenLoginForm}
        <div>{label username}:</div>
        <div style="margin-bottom: 15px;width: 96.5%">{input username}</div>
        <div class="prihlaseni">
            {input send}
        </div>
        <div n:if="$form->hasErrors()" n:foreach="$form->getErrors() as $error">{$error}</div>
        {input App\Core\Component\Form\BaseForm::PROTECTOR_ID}
    {/form}
</div>