{block content}
<h2>Import DL stojanů</h2>
<div>Požadovaný CSV formát: ičo;voj;IDstojanu;DL;datumDL;faktura;datumExpedice;poznamka</div>
<div>Příklad: 07761945;1;3/1;12585;23.09.2021;123546;24.09.2021;moje poznamka</div>
<div>Nepovinné položky: DL, datum DL, faktura, poznamka</div>
<br>
{control standImportForm}