{varType App\Modules\StockModule\Presenters\StandPresenter $presenter}
{varType App\Modules\StockModule\Orm\Stands\StandPlate $plate}
{varType App\Modules\StockModule\Orm\Stands\StandPlateItem[] $plateItems}
{block content}
<div class="jas-link-wrapper">
    {var string $linkAnchor = $plate->order < 10 ? '' : '#plate-id-' . (intval($plate->order / 10) * 10)}
    {var string $link = 'standPlates' . $linkAnchor}
    <a title="Zpět na plata stojanu" n:href="$link id => $plate->stand->id">
        <img width="20" height="20" src="/image/zpet.png">
        <strong> zpět na plata stojanu</strong>
    </a>
</div>
<h2>{$plate->stand->title}</h2>
<h2>{$plate->order}. plato ({$plate->description})</h2>
<div n:if="!$plate->stand->deleted && $user->isAllowed(':Stock:Stand:addPlateItem')"><a n:href="addPlateItem id => $plate->id" class="btn btn-secondary">Přidat položku</a></div>
<table class="table datagrid-table jambo_table">
    <thead>
        <tr>
            <th style="width: 70px;">Pořadí</th>
            <th>Položka</th>
            <th style="width: 90px;">Jednotka</th>
            <th style="width: 100px;" class="text-right">Cena</th>
            <th style="width: 90px;">Zrušeno</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr n:foreach="$plateItems as $plateItem" n:class="$plateItem->photoItem ? bg-disabled" style="background-color: {if $plateItem->seriesItem}lightgreen{else}transparent{/if};">
            <td>{$plateItem->order}.</td>
            <td n:class="!$plateItem->isActive ? text-red">{$plateItem->item->title}</td>
            <td>{$plateItem->item->unit->name}</td>
            <td class="text-right">{$plateItem->item->price |number:2,',',' '}</td>
            <td>{$plateItem->c ?? '-'}</td>
            <td class="row-actions">
                <a n:if="$user->isAllowed(':Stock:Stand:plateItemPreview')" n:href="plateItemPreview id => $plateItem->id" class="side-dialog" data-sd-history="on">
                    <span class="fa fa-search" data-toggle="tooltip" title="Náhled"></span>
                </a>
                <a n:if="!$plate->stand->deleted && $user->isAllowed(':Stock:Stand:editPlateItem')" n:href="editPlateItem id => $plateItem->id">
                    <span class="fa fa-pencil" data-toggle="tooltip" title="Změnit položku"></span>
                </a>
                <a n:if="!$plate->stand->deleted && $user->isAllowed(':Stock:Stand:deletePlateItem')" n:href="deletePlateItem id => $plateItem->id" class="confirmDialog" data-confirm="Opravdu chcete odstranit položku">
                    <span class="fa fa-trash" data-toggle="tooltip" title="Odstranit položku"></span>
                </a>
                <a n:if="!$plate->stand->deleted && $user->isAllowed(':Stock:Stand:plateItemHistory') && $presenter->hasPlateHistoryItems($plateItem->plate->id, $plateItem->order)" n:href="plateItemHistory id => $plateItem->plate->id, order => $plateItem->order">
                    <span class="fa fa-history" data-toggle="tooltip" title="Historie položek"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<script>
    $('a.confirmDialog').click(function (e) {
        e.preventDefault();
        var title = $(this).attr('data-confirm');
        $('<div></div>').dialog({
            resizable: false,
            height: 'auto',
            width: 400,
            modal: true,
            closeOnEscape: true,
            title: 'Odstranění položky',
            open: function open() {
                $(this).html(title + '?');
            },
            buttons: [{
                text: 'Ano',
                click: () => { window.location.href = $(this).attr('href'); }
            }, {
                text: 'Ne',
                click: function clickClose() {
                    $(this).dialog('close');
                }
            }]
        });
        $('.ui-dialog-titlebar-close').html('<span>x</span>');
    });
</script>