{block content}
<div>Požadovaný CSV formát: RegistračníČíslo;Název;ProduktSerie</div>
<div>Příklad: 1000014;Allegro světle modrá obkládačka 25x33x0,7;rako-allegro</div>
<div>pozn. ProduktSerie - povolena jen malá písmena bez diakritiky, čísla, tečky a pomlčky</div>
<br>
{control stockDataImportForm}