{block content}
<div>Požadovaný CSV formát: RegistračníČíslo;PalMnožství;BalMnožství;MinObjednavka</div>
<div>Příklad: 3007077;57.6;1.44;2</div>
<div>Pozn.: Jako oddělovač des. míst lze zadat tečku i čárku</div>
<div>Pozn.: Minimální objednávka není povinná</div>
<br>
{control stockDataImportForm}