{block content}
<div>Požadovaný CSV formát (UTF-8): RegistračníČíslo;Status</div>
<div>Příklad: 3007077;paleta</div>
<div>Pozn.: Jako status lze použít tyto hodnoty:</div>
<ul>
    <li>paleta</li>
    <li>komis</li>
    <li>vyřazeno</li>
</ul>
<br>
{control stockDataImportForm}