@model Jas.Areas.Ptg.Pages.StandPrintModel

@{
    Layout = null;
}

@{
    ViewData["PrintQr"] = Model.PrintQr;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    @{
        var css = System.IO.File.ReadAllText(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/css/ptg-piece-tag.min.css"));

        var match = System.Text.RegularExpressions.Regex.Match(css, @"--ptg-piece-padding\s*:\s*([^;]+);");
        if (match.Success)
        {
            var paddingValue = match.Groups[1].Value.Trim();

            css = System.Text.RegularExpressions.Regex.Replace(css, @"var\(--ptg-piece-padding\)", paddingValue);
        }
    }
    <style>
        @Html.Raw(System.IO.File.ReadAllText(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/css/opensans.min.css")))
        @Html.Raw(css)
    </style>
</head>
<body class="ptg-print">

    @Html.DisplayFor(m => m.PlateItems, "/Areas/Ptg/Pages/Shared/DisplayTemplates/PieceTag.cshtml", additionalViewData: new { PrintQr = (bool?)ViewData["PrintQr"] ?? false })

</body>
</html>
