@page "{id:int}"
@model Jas.Areas.Ptg.Pages.PieceDetailModel
@{
    ViewData["Title"] = "Kusový stojan";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ptg-piece-tag.min.css" />
}

<div class="container my-5 ptg-piece-detail">
    @{
        var img = string.IsNullOrWhiteSpace(Model.Stand?.Picture) ? "/images/no-picture.png" : Model.Stand!.Picture;
        var firstPlate = Model.Plates.FirstOrDefault();
        var items = firstPlate is null
            ? new List<Jas.Models.Ptg.PlateItem>()
            : Model.PlateItems.Where(x => x.IdPlate == firstPlate.IdPlate)
                              .OrderBy(x => x.ItemOrder)
                              .ToList();
    }

    @await Html.PartialAsync("_PlateContent", new Jas.Areas.Ptg.Pages.PlateContentVm
    {
        StandId = Model.Stand!.IdStand,
        StandName = Model.Stand!.Name,
        StandCode = Model.Stand!.Code,
        StandType = Model.Stand!.Type,
        PlateIndex = 1,
        TotalPlates = 1,
        ImgUrl = img,
        Items = items
    })
</div>

@section Scripts {
    <script src="~/js/ptg/stand-detail.js" asp-append-version="true"></script>
}
