@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Přístup odepřen";
}

<header style="text-align: center;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">K tomuto zdroji nemáte přístup.</p>
    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">Odhlásit se</a>
</header>
