html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  margin-bottom: 60px;
}
.table.pivot-table {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.slicer-box {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}