{varType App\Modules\WikiModule\Orm\WikiItems\WikiItem $wikiItem}
{block content}
<div class="jas-link-wrapper">
    <a title="Zpět na parametry" n:href="params id => $wikiItem->id">
        <img width="20" height="20" src="/image/zpet.png">
        <strong> zpět na parametry</strong>
    </a>
</div>
<h2>{$wikiItem->name}</h2>
{control wikiParamForm}