{block content}
<h1>Tvorba Cache dat</h1>
<table class="table datagrid-table jambo_table">
    <thead>
        <tr class="headings">
            <th>Název</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$createCache as $action => $title">
            <td>{$title}</td>
            <td><a n:href="$action" class="fa fa-play" title="Spustit"></a></td>
        </tr>
    </tbody>
</table>